<!DOCTYPE html>
<html>

<head>
  {{>head_content}}
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="images/poor.png"/>
  </div>
  {{>footer}}
</body>

</html>